#priceRef {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 40%;
  height: 100%;
  background: lightgrey;
  border-right: 2px solid gray;
  z-index: 998;
  padding: 10px;
}

#priceCalc {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 40%;
  height: 100%;
  background: lightgrey;
  border-left: 2px solid gray;
  z-index: 998;
  padding: 10px;
}

.searchform label {
  font-size: 12px;
  display: inline;
}
.searchform input[type="text"], .mainform select {
  width: 300px;
  min-width: 100px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 12px;
  height: 28px;
}
.searchform textarea {
  width: 600px;
  border: 1px solid gray;
  border-radius: 3px;
}

.panel-client {
  height: 46px;
  color: black;
}

.panel-client li a {
  color: lightblue;
  font-weight: bolder;
}

.panel-client li a:hover {
  color: black;
  font-weight: bolder;
}

.panel-client li a:active {
  color: black;
  font-weight: bolder;
}